<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>transaction page</h1>
<p>transaction to <span  th:text="${friend.email}"></span></p>
<form th:action="@{/makeANewTransaction(friendId=${friend.id})}" method="post"> <!---il s’agit ici de traiter la validation d’un formulaire, et généralement les formulaires exécutent des requêtes POST.-->
    <label for="amount">amount</label>:
    <input type="text" id="amount" name="amount" placeholder="enter the amount to give to your friend" /> <br />
    <button class="btn btn-primary" type="submit">save</button>
</form>
<tr th:each="transaction:${mytransactions}">
    <td th:text="${transaction.creditedAccount.user.firstName}"></td>
    <td th:text="${transaction.amountOfTransaction}"></td>
    <td th:text="${transaction.dateTime}"></td>
</tr>
</body>
</html>