<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homePage</title>
</head>
<body>
<h2 class="h2">My friends</h2>


<table>
    <!-- pas d'entête thead -->

    <tbody>
        <!-- ne pas corriger les warnings IntelliJ sur les expressions spel -->
        <tr th:if="${myfriends.empty}">
            <td colspan="3">Aucun ami enregistré</td>
        </tr>
        <tr th:each="user: ${myfriends}">
            <td><span th:text="${user.firstName}"></span></td>
            <td><span th:text="${user.lastName}"></span></td>
            <td><span th:text="${user.email}"></span></td>
            <td><span><a th:href="@{'/delete/'+${user.id}}">Delete</a></span></td>
        </tr>
    </tbody>
</table>
<h2 class="h2">My accounts</h2>
<table>
    <!-- pas d'entête thead -->

    <tbody>
    <!-- ne pas corriger les warnings IntelliJ sur les expressions spel -->
    <tr th:if="${mybankaccounts.empty}">
        <td colspan="3">Aucun compte enregistré</td>
    </tr>
    <tr th:each="bankaccount: ${mybankaccounts}">
        <td><span th:text="${bankaccount.iban}"></span></td>
        <td><span th:text="${bankaccount.accountBalance}"></span></td>
        <td><span><a th:href="@{'/delete/'+${bankaccount.id}}">Delete</a></span></td>
        <td><span><a th:href="@{'/update/'+${bankaccount.id}}">Update account balance</a></span></td>
    </tr>
    </tbody>
</table>
<h2 class="h2">Add a bank account</h2>
</body>
</html>