<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homePage</title>
</head>
<body>
<h2 class="h2">My friends</h2>


<table>
    <!-- pas d'entête thead -->

    <tbody>
        <!-- ne pas corriger les warnings IntelliJ sur les expressions spel -->
        <tr th:if="${myfriends.empty}">
            <td colspan="3">Aucun ami enregistré</td>
        </tr>
        <tr th:each="user: ${myfriends}">
            <td><span th:text="${user.firstName}"></span></td>
            <td><span th:text="${user.lastName}"></span></td>
            <td><span th:text="${user.email}"></span></td>
            <td><span><a th:href="@{/deleteFriend(email = ${user.email})}">Delete</a></span></td>
            <td><span><a th:href="@{/newTransaction(email = ${user.email})}">new Transaction</a></span></td>
        </tr>
    </tbody>
</table>
<h2 class="h2">Add a friend</h2>
<form th:action="@{/addFriend}" method="post">
    <label for="email">Email</label>:
    <input type="text" id="email" name="email" placeholder="Enter email" /> <br />

    <button class="btn btn-primary" type="submit">Save</button>
</form>

<h2 class="h2">My account</h2>
<table>
    <!-- pas d'entête thead * th:object="${target}"-->

    <tbody>
    <!-- ne pas corriger les warnings IntelliJ sur les expressions spel -->
    <!---<tr th:if="${myappaccount==null}">
        <td colspan="3">Aucun compte enregistré</td>
    </tr>-->
    <tr >
        <td><span th:text="${myappaccount.iban}"></span></td>
        <td><span th:text="${myappaccount.accountBalance}"></span></td>
        <td><span><a th:href="@{/deleteAppAccount}">Delete appAccount</a></span></td>
        <td><span><a th:href="@{/updateAppAccount(id=${myappaccount.id})}">Update account balance</a></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>